* {
  margin: 0;
  padding: 0;
}

.box {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.global__menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background: white;
}

.global__menu .login img {
  width: 100%;
  text-align: center;
  display: block;
  max-height: 40px;
  max-width: 40px;
}

.global__menu .navigation {
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.global__menu .navigation .navi__item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 10px 15px;
  display: inline-block;
  color: black;
  border-right-width: 0;
  transition: color 200;
}
.global__menu .navigation .navi__item:hover {
  color: red;
  text-decoration: underline;
}

.primary__menu {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background: red;
  padding-top: 10px;
  padding-bottom: 10px;
}

.primary__menu .logo img {
  text-align: center;
  display: inline;
  max-width: 150px;
}

.primary__menu .menu {
  padding-left: 15px;
  padding-right: 15px;
  background: red;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.primary__menu .menu .menu__item {
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 10px 15px;
  display: inline-block;
  color: white;
  border-right-width: 0;
  transition: color 200;
}

@media only screen and (max-width: 800px) {
  .mobile__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile__menu .mobile__navi {
    display: none;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 0;
    left: -100%;
    transition: height 200ms ease-out;
  }

  .mobile__menu .btn__hamburger {
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: block;
  }

  .mobile__menu .logo__mobile img {
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    max-width: 80px;
  }

  .mobile__menu .login__mobile img {
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    max-width: 35px;
  }

  .global__menu {
    display: none;
  }

  .primary__menu {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .mobile__menu {
    display: none;
  }
}

.news__box {
  margin: 15px;
  width: 100%;
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: space-around;
}

.news__box .main__news {
  border-top: solid 10px red;
  border-right: solid 10px red;
  border-radius: 10%;
  box-sizing: border-box;
}

.news__box .main__news img {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 300px;
}

.news__box .list__news {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news__box .list__news .list__item {
  border-right: solid 5px grey;
  border-bottom: solid 5px grey;
  border-radius: 10%;
}

.news__box .list__news .view {
  display: inline;
  background: red;
  color: white;
  width: 100%;
  max-width: 100px;
}
